{% extends "base.jinja2" %}

{% block further_head %}
{% endblock further_head %}

{% block content %}
<body>
  <div class="container">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Location</th>
            <th>Full Location</th>
            <th>More Info</th>
            <th>Fix Location</th>
            <th>New alias</th>
          </tr>
        </thead>
        <tbody>
          {% for ev in events %}
          <tr>

            {% if ev['start_datetime'] %}
              <th>{{ ev['start_datetime'].strftime('%m/%d %H:%M') }}</th>
            {% else %}
              <th></th>
            {% endif %}

            <th class="title_cell">{{ ev['title'] }}</th>
            <th class="building_cell">{{ ev['building'] }}</th>
            <th class="full_location_cell">{{ ev['full_location'] }}</th>
            
            {% if ev['more_info_url'] %}
              <th class="more_info_cell"><a href="{{ ev['more_info_url'] }}">{{ ev['more_info_url'] }}</a></th>
            {% else %}
              <th class="more_info_cell"></th>
            {% endif %}

            <th class="new_building_cell">
              <select>
                {% for build in buildings %}
                  <option>{{ build }}</option>
                {% endfor %}
              </select>
            </th>

            <th class="new_alias_cell">
              <textarea></textarea>
              <button type="submit" class="btn btn-default new_alias_submit">
                Add alias
              </button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock content %}