{% extends "base.jinja2" %}

{% block further_head %}
<script src="/static/alias_adder.js"></script>
{% endblock further_head %}

{% block content %}
<body>
  <div class="container">
    <div class="col-md-12">

      <div class="alert alert-warning alert-dismissable" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Successful update</strong>
      </div>

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Location</th>
            <th>Full Location</th>
            <th>More Info</th>
            <th>Fix Location</th>
            <th>New Alias</th>
          </tr>
        </thead>
        <tbody>
          {% for ev in events %}
          <tr>

            {% if ev['start_datetime'] %}
              <th>{{ ev['start_datetime'].strftime('%m/%d %H:%M') }}</th>
            {% else %}
              <th></th>
            {% endif %}

            <th class="title_cell">{{ ev['title'] }}</th>
            <th class="building_cell">{{ ev['building'] }}</th>
            <th class="full_location_cell">{{ ev['full_location'] }}</th>
            
            <th class="more_info_and_description_cell">
              {% if ev['more_info_url'] %}
                  <a href="{{ ev['more_info_url'] }}">{{ ev['more_info_url'] }}</a>
              {% else %}
                (No URL parsed)
              {% endif %}
              <br />
              {% if ev['description'] %}
                {{ ev['description'] }}
              {% else %}
                (No description parsed)
              {% endif %}

            </th>

            <th class="new_building_cell">
              <select class="new_building_select">
                {% for build in buildings %}
                  <option>{{ build }}</option>
                {% endfor %}
              </select>
            </th>

            <th class="new_alias_cell">
              <textarea class="new_alias_text"></textarea>
              <button type="submit" class="btn btn-default new_alias_submit">
                Set location and add alias
              </button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock content %}